

{% load staticfiles %}

<div class="container" id="brand">
    <div class="jumbotron text-center pt-3">
        <div class="row">
            <div class="col-lg-4 mb-3 align-self-center">
                <img src="curriculum/static/curriculum/img/1.png" alt="asd" class="img-thumbnail">
            </div>
            <div class="col-lg-8 text-center">
                <h1>Batman</h1>
                <blockquote>
                  <h5>"ceva sa te inspire."</h5>
                  <footer class="blockquote-footer text-right">Mahatma Gandhi</footer>
                </blockquote>

                <h4 class="text-justify"><bolt>My objective:</bolt></h4>
                <p class="text-justify">
                    text1
                </p>
                <p class="text-justify">
                    txt2
                </p>
            </div>
        </div>
    </div>
</div>
